nav{
    background-color:rgba(255, 255, 255, 1e-06) !important;
    border: none !important;
}

.uppar{
    color: #0D6EFD !important;
}

.btn{
    border: solid #0D6EFD;
    color: #0D6EFD;
}


.cardd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 125px;
    padding: 25px;

}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";    
    float: right;        
    color: grey;         
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\e114";    
}

.lastbutton{
    background-color: blue;
    border: none;
}

@media (max-width: 500px) {
    .cardd{
        display: block;
        margin-left: 50px;
    }
}

.eml{
    margin: 15px;
}

.lbutton{
    background-color: blue;
    border: none;
    color:white;
    margin:15px;
    width:100px;
}
